$white-color: #fff;
$side-header-bgc: #253141;
$group-list-bgc: #2f3e51;
$border-color: #eee;
$member-list-and-date-color: #999;
$btn-color: #38aef0;
$message-user-name: #333;
$message-text: #434A54;
$bottom-form: #d2d2d2;
$image: #000;